PORT=5000
MONGODB_URI=mongodb+srv://mehuekmail_db_user:1ucLnOZnLLC1GPL4@cluster0.rstkroi.mongodb.net/ecoverse?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=158527898485395
CLOUDINARY_API_SECRET=aDVH4XA1FXilEce34maDiPIS_Ho
GEMINI_API_KEY=your_gemini_api_key_here
